#navbar {
	width: 100%;
	min-height: 3.6rem;
	color: $nord5;
	fill: $nord5;
	background-color: $nord1;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: 0rem 2rem;
	border-bottom: 1px solid $nord3;
	position: fixed;

	#nav-left {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		#nav-hamburger {
			font-size: 2rem;
			top: 0;
			cursor: pointer;

			// To Even stuff out
			#spacer-sm {
				height: 0.4rem;
				width: auto;
			}
		}

		#nav-youtube-logo {
			margin-left: 1.5rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			svg {
				fill: $nord8;
			}

			span {
				font-weight: 600;
				margin-left: 4px;
			}
		}
	}

	#nav-middle {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 50%;
		margin: 0;
		height: 3.4rem;
		padding: 0;

		#nav-searchbar {
			background-color: $nord0;
			border: none;
			margin: 0;
			height: 60%;
			width: 80%;
			padding: 0.4rem;
			color: $nord4;
			font-size: 1rem;
			font-weight: 500;

			&:focus {
				border: 1px solid $nord8;
				outline: none;
			}
		}

		#nav-search-btn {
			background-color: $nord2;
			border: none;
			height: 60%;
			margin: 0;

			svg {
				padding: 0.4rem 1.5rem;
				max-height: 100%;
				fill: $nord4;
				opacity: 70%;
				transition: all 50ms ease;
				cursor: pointer;

				&:hover {
					opacity: 100%;
					fill: $nord8;
				}
			}
		}

		#nav-microphone {
			width: 25px;
			height: 25px;
			cursor: pointer;
			margin-left: 1rem;

			svg {
				fill: $nord4;
				transition: fill 50ms ease;

				&:hover {
					fill: $nord8;
				}
			}
		}
	}

	#nav-right {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		#nav-upload {
			width: 25px;
			height: 25px;
			cursor: pointer;
			fill: $nord4;
			transition: fill 50ms ease;
			margin-right: 1.5rem;

			&:hover {
				fill: $nord8;
			}
		}

		#nav-waffle {
			width: 25px;
			height: 25px;
			cursor: pointer;
			fill: $nord4;
			transition: fill 50ms ease;
			margin-right: 1.5rem;

			&:hover {
				fill: $nord8;
			}
		}

		#nav-bell {
			width: 25px;
			height: 25px;
			cursor: pointer;
			fill: $nord4;
			transition: fill 50ms ease;
			margin-right: 1.5rem;

			&:hover {
				fill: $nord8;
			}
		}

		#pfp {
			width: 30px;
			height: 30px;
			cursor: pointer;
			background-color: $nord4;
			border-radius: 100%;
		}
	}
}
